.brand {
    display: flex;
    margin-bottom: 30px;
}

.brands .w-100 {
    width: 100%;
}

.brands .breadcrumb {
    margin-bottom: 12px;
}

.brands .title {
    line-height: 40px;
}

.brand__logo {
    min-width: 211px;
    max-width: 211px;
    margin-right: 20px;
    height: 111px;
    font-size: 0;
    white-space: nowrap;
}

.brand__logo:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.brand__logo img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}

.brand__about {
    padding-bottom: 20px;
    position: relative;
}

.brand__about:before {
    content: '';
    max-width: 804px;
    width: 100%;
    height: 1px;
    background-color: #F1F1F1;
    position: absolute;
    bottom: 0;
    left: 0;
}

.brand__about_title,
.brand__about_title-mobile {
    line-height: 40px;
    font-weight: bold;
    font-size: 17px;
    color: #235E8F;
}

.brand__about_title-mobile {
    display: none;
}

.brand__about_text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.brand__about ul {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.brand__about li {
    margin-right: 37px;
    display: flex;
    align-items: center;
}

.brand__about li svg {
    margin-right: 10px;
}

.brand__about li a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #235E8F;
    line-height: 30px;
}

.brand__about .btn {
    height: 41px;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 500;
}


/* brand-id */

.brand-id .brand {
    display: block;
}

.brand-id .breadcrumb {
    margin-bottom: 28px;
}

.brand-id .brand__about_title {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.brand-id .brand__about ul {
    margin-bottom: 10px;
}

.select-product-item {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: #235E8F;
    display: inline-flex;
    align-items: center;
}

.select-product-item span {
    padding-right: 25px;
}

.brand-id .brand__logo {
    height: 83px;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 9px;
}

.brand-id .brand__logo:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.brand-id .brand__logo img {
    max-width: 100%;
    max-height: 100%;
}

.brand-id .nasosy-items .row, .nasosy-items {
    /*padding-bottom: 75px;*/
}


/* instructions */

.instructions__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.instructions__title svg {
    margin-right: 9px;
}

.instructions__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 17px;
}

.instructions__item_img {
    width: 91px;
    height: 68px;
    margin-right: 25px;
    flex-shrink: 0;
    font-size: 0;
    white-space: nowrap;
}

.instructions__item_img:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.instructions__item_img img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.instructions__item_download {
    margin-left: auto;
    flex-shrink: 0;
}

.instructions__item_download a {
    display: flex;
    align-items: center;
    color: #235E8F;
}

.instructions__item_download svg {
    margin-right: 12px;
}

.instructions-page .breadcrumb,
.video-page .breadcrumb,
.news-page .breadcrumb,
.service-page .breadcrumb {
    margin-bottom: 30px;
}

.instructions-page .brand__about_title,
.video-page .brand__about_title,
.news-page .brand__about_title,
.service-page .brand__about_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
}

.instructions-page .brand__about ul,
.video-page .brand__about ul,
.news-page .brand__about ul,
.service-page .brand__about ul {
    margin-bottom: 10px;
}


/* video */

.video__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video__item {
    width: calc(50% - 13px);
    margin-bottom: 25px;
}

.video__video {
    width: 221px;
    height: 167px;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
    flex-shrink: 0;
}

.video__video iframe {
    width: 100%;
    height: 100%;
}

.video__video_img {
    width: calc(100% + 3px);
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}

.video__video_img div {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/play-video.svg') center / 52px no-repeat;
}

.video__item {
    display: flex;
}

.video__about {
    padding-top: 10px;
}

.video__about_date {
    font-size: 12px;
    line-height: 12px;
    color: #BDBDBD;
    margin-bottom: 15px;
}

.video__about_title {
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #235E8F;
    margin-bottom: 15px;
}

.video__about_desc {
    font-size: 14px;
    line-height: 18px;
    color: #828282;
}

.video-page .row.nasosy-items {
    padding-bottom: 17px;
}


/* news */

.news__img {
    width: 410px;
    height: 273px;
    position: relative;
    overflow: hidden;
    margin-right: 22px;
    flex-shrink: 0;
}

.news__item {
    display: flex;
    margin-bottom: 60px;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__img img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.news__about {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    flex: 1;
}

.news__about_date {
    font-size: 12px;
    line-height: 12px;
    color: #BDBDBD;
    margin-bottom: 15px;
}

.news__about_title {
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #235E8F;
    margin-bottom: 15px;
}

.news__about_text {
    line-height: 18px;
    flex-grow: 1;
    margin-bottom: 20px;
}

.news__about_btn a.btn {
    height: 41px;
    font-size: 14px;
    padding: 0 19px;
    margin-bottom: 0;
    float: right;
}

.news-page .nasosy-items {
    padding-bottom: 60px;
}

.d-block {
    display: block !important;
}

.news__block-title-mobile {
    display: none;
}

.service__content {
    margin-bottom: 89px;
}


@media (max-width: 767px) {

    .brands .title {
        line-height: 24px;
        padding: 20px 0 15px;
        border-bottom: 1px solid #F1F1F1;
    }

    .brand {
        flex-wrap: wrap;
        position: relative;
    }

    .brand__about {
        position: static;
    }

    .brand__about_title {
       display: none;
    }

    .brand__about_title-mobile {
       display: block;
        width: 100%;
    }

    .brand__about .btn {
        width: 160px;
        margin: 0 auto;
        display: flex;
    }

    .brand__about li {
        width: 50%;
        margin: 0;
        margin-bottom: 18px;
    }

    .brand__about li:nth-child(2n) {
        padding-left: 15px;
    }

    .brand__about li:nth-child(1) svg {
        margin-right: 10px;
    }

    .brand__about li:nth-child(2) svg {
        margin-right: 9px;
    }

    .brand__about li:nth-child(3) svg {
        margin-right: 10px;
    }

    .brand__about li:nth-child(4) svg {
        margin-right: 12px;
        margin-left: 2px;
    }

    .brand__about li:nth-child(5) svg {
        margin-right: 13px;
    }

    .brand__about li:nth-child(6) svg {
        margin-right: 13px;
        margin-left: 2px;
    }

    .brand__about ul {
        margin-bottom: 40px;
    }

    .brand__about_text {
        margin-bottom: 35px;
    }


    /* brand-id */
    .brand-id .brand__about_title {
        position: static;
    }

    .brand-id .brand__logo {
        margin-top: 20px;
        height: 111px;
    }

    .brand-id .brand__about ul {
        margin-bottom: 0;
    }

    .brand__about li:nth-last-child(1),
    .brand__about li:nth-last-child(2) {
        margin-bottom: 0;
    }

    .brand-id .brand {
        margin-bottom: 20px;
    }

    .select-product-item {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 23px;
    }

    .select-product-item svg {
        display: none;
    }


    /* instructions */

    .instructions__item_img {
        width: 73px;
        height: 64px;
        margin-right: 18px;
    }

    .instructions__item_name {
        padding-right: 32px;
    }

    .instructions__item_download span {
        display: none;
    }

    .instructions-page .brand__about_title {
        position: static;
    }

    .instructions-page .breadcrumb,
    .news-page .breadcrumb,
    .service-page .breadcrumb {
        display: block;
        margin-bottom: 13px;
    }

    .instructions__title {
        padding-bottom: 20px;
        border-bottom: 1px solid #F1F1F1;
    }


    /* video */

    .video__item {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 48px;
    }

    .video__item:last-child {
        margin-bottom: 0;
    }

    .video__video {
        order: 1;
        width: 100%;
        height: 255px;
        margin-right: 0;
    }

    .video__video_img {
        width: 100%;
        height: auto;
    }

    .video__video_img img {
        width: auto;
        height: 100%;
    }

    .video__video_img div {
        background-size: 79px;
    }

    .video__about_date,
    .video__about_title,
    .video__about_desc {
        margin-bottom: 12px;
    }

    .video-page .row.nasosy-items {
        padding-bottom: 27px;
    }

    .video-page .brand__about:before,
    .news-page .brand__about:before,
    .service-page .brand__about:before,
    .instructions-page .brand__about:before {
        display: none;
    }

    .video-page .brand__about,
    .news-page .brand__about,
    .service-page .brand__about,
    .instructions-page .brand__about {
        padding-bottom: 0;
    }

    .video-page .brand__about_title,
    .news-page .brand__about_title,
    .service-page .brand__about_title,
    .instructions-page .brand__about_title {
        position: static;
    }

    .video-page .breadcrumb {
        display: block;
        margin-bottom: 13px;
    }


    /* news */

    .news__item {
        flex-wrap: wrap;
        position: relative;
    }

    .news__img {
        width: 100%;
    }

    .news__about_text {
        margin-bottom: 45px;
    }

    .news__about_btn {
        text-align: center;
    }

    .news__about_btn a.btn {
        float: none;
    }

    .news__img img {
        height: 100%;
        width: auto;
    }

    .news__block-title {
        display: none;
    }

    .news__block-title-mobile {
        display: block;
    }

}