.wrapp {
    margin: 0 auto;
    max-width: 1240px;
    width: calc(100% - 40px);
    position: relative;
}

.header__up-nav {
    background-color: #F1F1F1;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
}

.header__up-nav ul {
    display: flex;
    justify-content: flex-end;
}

.header__up-nav ul li {
    margin-right: 25px;
    display: flex;
    align-items: center;
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #235E8F;
    cursor: pointer;
}

.header__up-nav ul li svg {
    margin-left: 6px;
}

.header__up-nav ul li:last-child {
    margin-right: 0;
}


.header__body {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 9px;
}

.header__body_col1 {
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
    padding-right: 40px;
    border-right: 1px solid #4985B7;
}

.header-logo svg:first-child {
    margin-right: 21px;
}

.header-logo svg:last-child {
    margin-top: 14px;
}

.header-logo2 {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo2__row span {
    font-family: HelveticaNeueCyr, sans-serif;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4F4F4F;
}

.header-logo2 > div:first-child {
    margin-bottom: 9px;
}

.header-logo2 > div:last-child {
    display: flex;
    justify-content: space-between;
}

.header-logo2 > div div {
    font-family: HelveticaNeueCyr, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #828282;
}

.header-logo2__row .dotted {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #828282;
}

.header-logo2__row {
    align-items: center;
}

.header__body_col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-phone {
    font-family: HelveticaNeueCyr, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 8px;
}

.header-email {
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 17px;
    text-align: center;
    color: #000000;
}

.header__down-nav {
    background: #235E8F;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__down-nav ul {
    display: flex;
    align-items: center;
    font-family: HelveticaNeueCyr, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__down-nav ul li {
    display: flex;
    align-items: center;
    margin-right: 24px;
    cursor: pointer;
}

.header__down-nav ul li svg {
    margin-left: 6px;
}

.header-search {
    position: absolute;
    right: 0;
    top: 0;
}

.header-search input {
    background-color: transparent;
    border-bottom: 1px dashed #FFFFFF;
    color: #fff;
    padding: 0 30px 6px 10px;
    width: 230px;
}

.header-search button {
    width: 20px;
    height: 20px;
    background: transparent url('../img/search.svg') center top / 15px no-repeat;
    position: absolute;
    right: 0;
    z-index: 0;
    cursor: pointer;
    margin-right: 5px;
}

.header-search input::placeholder {
    color: #fff;
}

.footer {
    background-color: #F1F1F1;
    padding: 47px 0 53px;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: HelveticaNeueCyr, sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 194px;
}

.footer li {
    min-width: 210px;
}

.footer li a {
    font-size: 14px;
    line-height: 24px;
    color: #235E8F;
    text-decoration: none;
}

.footer__adress {
    line-height: 24px;
    color: #000000;
    margin-bottom: 25px;
}

a.footer__phone {
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
}

a.footer__phone svg {
    margin-right: 8px;
}

a.footer__mail {
    margin-bottom: 21px;
}

a.footer__mail svg {
    margin-top: 2px;
}

a.btn {
    background: #235E8F;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    padding: 0 42px;
    margin-bottom: 23px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.footer-col3 {
    max-width: 227px;
}

.footer__adress br {
    display: none;
}

.header-mobile,
.search-mobile {
    display: none;
}

.slick-slide {
    height: auto !important;
}

.slider {
    margin-bottom: 40px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 17px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #F1F1F1;
    margin-bottom: 39px;
}

.items {
    display: flex;
    flex-wrap: wrap;
}

.items .item {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 24px;
}

.items > div:nth-child(1n) {
    padding-right: 10px;
}

.items > div:nth-child(2n) {
    padding-left: 10px;
}

.item__img {
    margin-right: 18px;
}

.item__text {
    padding: 23px 30px;
}

.item__text_title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #235E8F;
    margin-bottom: 12px;
}

.item__text_text {
    margin-bottom: 30px;
}

.item__text a {
    margin-right: 9px;
    margin-bottom: 0;
    float: right;
    height: 40px;
    background-color: #fff;
    border: 1px solid #235E8F;
    color: #235E8F;
    font-weight: 600;
}

.section-1 {
    margin-bottom: 20px;
}

.items-brand {
    display: flex;
    flex-wrap: wrap;
}

.item-brand {
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 26px;
}

.item-brand__img {
    margin-right: 28px;
}

.item-brand__item_title {
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #235E8F;
    height: 40px;
    display: flex;
    align-items: center;
}

.item-brand__item {
    padding-top: 25px;
}

.item-brand__item ul li {
    height: 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.item-brand__item ul li:last-child {
    margin-bottom: 0;
}

.item-brand__item ul li a {
    color: #235E8F;
    text-decoration: none;
}

.section-2 {
    margin-bottom: 30px;
}

.section-3.about {
    display: flex;
    margin-bottom: 155px;
}

.about__img {
    margin-right: 40px;
}

.about__text_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #235E8F;
    margin-bottom: 2px;
}

.about__text_text {
    line-height: 18px;
}

.about__text > div:not(:last-child) {
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .header-mobile {
        display: flex;
        justify-content: space-between;
        background-color: #235E8F;
        padding: 0 7px 0 14px;
    }

    .header-mobile__col1 {
        display: flex;
        align-items: center;
    }

    .header-mobile .logo-mobile {
        margin-right: 15px;
    }

    .header-mobile__language {
        display: flex;
        align-items: center;
    }

    .header-mobile__language svg:first-child {
        margin-right: 7px;
    }

    .header-mobile__col2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .header-mobile__search {
        margin-right: 26px;
    }

    .header-mobile__phone {
        margin-right: 21px;
    }

    .header-mobile__burger {
        position: relative;
    }

    .burger-menu {
        display: none;
        position: absolute;
        min-width: 213px;
        background-color: #fff;
        right: -7px;
        z-index: 10000000000;
        min-height: calc(100vh - 40px);
        padding: 0 20px;
    }

    .burger-menu ul {
        border-bottom: 1px solid #B8B6B9;
        padding-top: 12px;
    }

    .burger-menu ul:last-child {
        padding-top: 25px;
        border-bottom: 0;
    }

    .burger-menu li {
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .burger-menu li:last-child {
        margin-bottom: 25px;
    }

    .burger-menu li a {
        color: #235E8F;
        text-decoration: none;
    }

    .search-mobile {
        height: 51px;
        width: 100%;
        z-index: 1;
    }

    .search-mobile input {
        flex-grow: 1;
        background: #F1F1F1;
        padding-left: 18px;
    }

    .search-mobile button {
        height: 100%;
        width: 58px;
        background: #235E8F url('../img/search.svg') center / 22px no-repeat;
        margin-top: -1px;
    }

    .footer {
        padding: 35px 50px 51px;
    }

    .footer-col1,
    .footer-col2 {
        display: none;
    }

    .footer-cont {
        justify-content: center;
    }

    .footer-col3 {
        max-width: none;
        text-align: center;
    }

    a.footer__phone {
        justify-content: center;
    }

    .footer a.btn {
        border-radius: 0;
    }

    .footer__adress br {
        display: block;
    }

    .slider {
        display: none !important;
    }

    .items .item {
        position: relative;
        padding-top: 35px;
        margin-bottom: 40px;
    }

    .items .item,
    .item-brand,
    .item-brand__img {
        width: 100%;
    }

    .item-brand__item {
        padding-top: 0;
        margin-top: -40px;
    }

    .item-brand {
        margin-bottom: 0;
    }

    .item-brand__img img {
        width: 227px !important;
        height: auto !important;
    }

    .about__img img {
        width: 100%;
        height: auto;
    }

    .section-3.about,
    .items .item,
    .item-brand {
        flex-wrap: wrap;
    }

    .section-1 {
        padding-top: 27px;
    }

    .wrapp {
        width: calc(100% - 28px);
    }

    .item__text_title {
        position: absolute;
        top: 0;
        left: 0;
    }

    .item__img {
        margin: 0 auto;
    }

    .item__text {
        padding: 16px 10px;
    }

    .items > div:nth-child(1n) {
        padding-right: 0;
    }

    .items > div:nth-child(2n) {
        padding-left: 0;
    }

    .item__text a {
        margin-right: 0;
    }

    .item__text_text {
        margin-bottom: 15px;
    }

    .section-1 {
        margin-bottom: 35px;
    }

    .section-2 .hr {
        margin-bottom: 0;
    }

    .item-brand__item_title {
        margin-bottom: 6px;
    }

    .about__img {
        margin: 0 -14px;
    }

    .about__text {
        padding-top: 24px;
    }

    .section-3.about {
        margin-bottom: 40px;
    }
}