.product-list .product-item .image {
    border: 0;
}

.nasosy-items .product-item .title,
.nasosy-items .product-item .title-mobile {
    font-family: HelveticaNeueCyr, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #235E8F;
    margin-bottom: 10px;
}

.nasosy-items .product-item .btn {
    float: right;
    height: 41px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.nasosy-items .product-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
}

.nasosy-items .product-item .image {
    max-width: 221px;
    min-width: 221px;
    margin-right: 20px;
    height: 167px;
    font-size: 0;
    white-space: normal;
}

.nasosy-items .product-item .image:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.nasosy-items .product-item .body {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nasosy-items .product-item .body .text {
    flex-grow: 1;
}


.nasosy-items .row,
.nasosy-items {
    margin-left: 0;
    margin-right: 0;
}

.nasosy-items .product-item .title-mobile {
    display: none;
}

@media (max-width: 767px) {

    .nasosy-items .product-item .image {
        max-width: none;
        min-width: 100%;
    }

    .nasosy-items .row {
        margin-left: 0;
        margin-right: 0;
    }

    .nasosy-items .product-item .image {
        margin: 0 auto;
    }

    .nasosy-items .product-item {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 43px;
    }

    .nasosy-items .product-item .title {
        display: none;
    }

    .nasosy-items .product-item .title-mobile {
        display: block;
        margin-bottom: 23px;
    }

    .nasosy-items .product-item .text {
        padding: 17px 10px;
    }

    .nasosy-items .product-item .btn {
        float: none;
        width: 161px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

}

