# yii console command
/yii

# phpstorm project files
.idea

# all log files
*.log

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# upload dir
/app/wp-content/uploads
!.htaccess

# tmp dir
/app/bitrix/tmp/*

# bitrix config
/app/wp-config.php

# docker
/docker/docker/env/dev/XDEBUG_CONFIG.env
/docker/.env

/app/vendor
mail.out
